<nav class="navbar navbar-expand-sm navbar-dark  " style="background-color:orange">
  <div class="container-fluid">
    <img src="assets/IngLogo1.png" alt="ING Logo" width="100" />&nbsp;&nbsp;
    <a routerLink="" class="navbar-brand">ING LIBRARY</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a routerLink="" class="nav-link">About Us</a></li>
        <li><a routerLink="login" class="nav-link">Log In</a></li>
        <li><a routerLink="register" class="nav-link">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>